<!DOCTYPE html>
<html>
<head>
    <title>Sudoku Solver</title>
    <style>
        table {
            margin: auto;
            margin-top: 50px;
        }
        td {
            border: 1px solid black;
            width: 50px;
            height: 50px;
            text-align: center;
            vertical-align: middle;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Sudoku Solution</h1>
    <h2>Original Board</h2>
    <table>
        {% for row in originalBoard %}
            <tr>
                {% for cell in row %}
                    <td>{% if cell is none %}{% else %}<b>{{ cell }}</b>{% endif %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    <h2>Solution Board</h2>
    <table>
        {% for row in solutionBoard %}
            <tr>
                {% for cell in row %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>